<div class="container-fluid mt-2">

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="jumbotron">
        <h4>
          Adicionar Lançamento
        </h4>
        <hr>
        <div *ngIf="message" class="alert alert-dismissible fade show" [ngClass]="{ 'alert-success':!error, 'alert-danger':error }"
          role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" (click)="closeAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form #entryForm="ngForm">

          <div class="form-group">
            <label>Tipo:</label>
            <select name="type" class="form-control" [(ngModel)]="entry.type">
            <option value="Receita">Receita</option>
            <option value="Despesa">Despesa</option>
          </select>
          </div>

          <div class="form-group">
            <label>Valor:</label>
            <input type="number" class="form-control" [(ngModel)]="entry.value" name="value" #value="ngModel" required>
            <small class="text-danger" *ngIf="value.dirty&&value.invalid">Favor preencher um valor para o lançamento!</small>
          </div>

          <div class="form-group">
            <label>Descrição:</label>
            <input type="text" class="form-control" [(ngModel)]="entry.description" name="description">
            <small class="text-muted">Esse campo será utilizado para identificar o lançamento</small>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" (click)="submitForm(entryForm)" [disabled]="entryForm.invalid">Adicionar</button>
          </div>

          <button type="button" hidden data-toggle="modal" id="modalTrigger" data-target="#exampleModal"></button>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          Vimos que você está tentando cadastrar um novo lançamento sem descrição. Esse campo é importante para ajudar-lo
          a lembrar futuramente do que se tratava. Deseja salvar o lançamento mesmo assim?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="saveEntry(entryForm)">OK</button>
        </div>
      </div>
    </div>
  </div>

</div>