<div class="container-fluid mt-2">
  <div class="row justify-content-center">

    <div class="col-lg-6 col-md-8 col-sm-12">

      <div class="jumbotron text-center">
          Desenvolvido por: Dante Judson Gomes De Lima <br>
          LinkedIn: <a href="https://www.linkedin.com/in/dante-judson-71507b132/"><i class="fa fa-linkedin-square fa-2x"></i> https://www.linkedin.com/in/dante-judson-71507b132</a> <br>
          GitHub: <a href="https://github.com/dante-judson"><i class="fa fa-github fa-2x"></i> https://github.com/dante-judson</a> <br>
          Email: <a href="mailto:dantejgl@gmail.com"><i class="fa fa-google fa-2x"></i> dantejgl@gmail.com</a>
      </div>

    </div>

  </div>
</div>